In [37]:

import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv("songdata.csv")
df.head(3)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...

In [39]:
df.shape

(57650, 4)

In [40]:
df = df.sample(n=5000).drop('link', axis=1).reset_index(drop=True)

In [41]:
df.shape

(5000, 3)

In [42]:
df['text'] = df['text'].str.lower().replace(r'[^\w\s]','').replace(r'\n',' ', regex=True)

In [43]:
df['text'][0]

"i get so tired of missing you   i get so tired of wanting to   compare the things that are easy to do   like the reasons you lie to me   the reasons i lie to you      and i wish it was some kinda explosive device   that only you could diffuse   reasons you lie to me   reasons i lie to you      wanna live in a beautiful house   somewhere up in the hills   with some people making fun of us   you refer to us as your two kids   then it wouldn't be somebody else   that you'd grow accustomed to   reasons to lie to me   is a reason to lie to you      i get so tired of missing you   i get so tired of wanting to   compare the things that are easy to do   like the reasons you lie to me   reasons i lie to you    "

In [44]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [45]:
#import nltk
#nltk.download('punkt')
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [46]:
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [47]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [48]:
similarity[0]

array([1.        , 0.05266556, 0.00977355, ..., 0.04326757, 0.06272332,
       0.00841428])

In [49]:
df['song'][0]

'Reasons To Lie'

In [50]:
df[df['song']=="That's How Ya Feel"]

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [51]:
#RECOMMENDATION FUNCTION

In [52]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])

    songs = []
    for m_id in distances[1:21]:
         songs.append(df.iloc[m_id[0]].song)

    return songs

In [54]:
recommendation('Relese Your Love')

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))